{% extends "base.html" %}

{% block title %}Task {{ task.pk }}{% endblock %}

{% block content %}
    <h1 class="text-center">{{ task.title }}</h1>
    <div class="text-center d-flex">
        <div class="align-self-center" style="width: 50%">
            <h3><b>Description: </b>{{ task.description }}</h3>
            <h3><b>Execution time: </b>{{ task.execution_time }}</h3>
            <h3><b>Is done: </b>{{ task.is_done }}</h3>
            <div class="d-flex justify-content-around">
                <a href="{% url "webapp:task_update" task.pk %}" class="btn btn-success">Update</a>
                <a href="{% url "webapp:task_delete" task.pk%}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary my-5" style="width: 100%;">Back</a>
{% endblock %}
